.grid {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
   gap: 0px;
   height: 100%;
   
}

img {
   display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 2px solid green;
    height: 70px;
    width: 70px
  
}
  
#item-0 {
   display: grid;
   align-items: center;
   justify-items: center;
   background-color: #F5F5F5; 
   grid-row-start: 1;
   grid-column-start: 3;
   grid-row-end: 2;
   grid-column-end: 5;
  height: 100px;
  width: 200px;
   
   
}
#item-1 {
  display: grid;
   align-items: center;
   justify-items: center;
   background-color: lightgray; 
   grid-row-start: 2;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-column-end: 5;
   
}
#item-2 {
   display: grid;
   align-items: center;
   justify-items: center;
   background-color: #F5F5F5; 
   grid-row-start: 3;
   grid-column-start: 3;
   grid-row-end: 4;
   grid-column-end: 5;
   
}
#item-3 {
    display: grid;
   align-items: center;
   justify-items: center;
   background-color: limegreen; 
   grid-row-start: 4;
   grid-column-start: 3;
   grid-row-end: 5;
   grid-column-end: 4;
  height: 55px;
   
}
#item-4 {
  display: grid;
   align-items: center;
   justify-items: center;
   background-color: green; 
   grid-row-start: 4;
   grid-column-start: 4;
   grid-row-end: 5;
   grid-column-end: 5;
   height: 55px;
}