 body {
  background-color: #123429;
}




@media only screen and (min-width: 750px) {

  img {
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
    border-radius: 100px;
    box-sizing: border-box;
    border: 2px solid green;
    height: 70px;
    width: 70px
  
}

.grid {
   display: grid; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   grid-template-rows: 1fr -1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   gap: 0px;
   height: 100%;
   
}
  
#item-0 {

   background-color: #E5E6EB; 
   color: #E5E6EB;
   grid-row-start: 2;
   grid-column-start: 2;
   grid-row-end: 4;
   grid-column-end: 4;
   padding-top: 47px;
   height: 130px;
}
#item-1 {

   background-color: lightgray; 
   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 5;
   grid-column-end: 7;
   height: 200px;
   
}

#item-2 {
  color: #123429;
}


#item-3 {

   background-color: limegreen; 
   grid-row-start: 4;
   grid-column-start: 2;

   grid-row-end: 5;
   grid-column-end: 3;
   
}
#item-4{

   background-color: green; 
   grid-row-start: 4;
   grid-column-start: 3;

   grid-row-end: 5;
   grid-column-end: 4;
   
   
}

}
@media only screen and (max-width: 786px) {
  
.grid {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
   gap: 0px;
   height: 100%;
   
}

img {
   display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    border: 2px solid green;
    height: 70px;
    width: 70px
  
}
  
#item-0 {
   display: grid;
   align-items: center;
   justify-items: center;
   background-color: #F5F5F5; 
   grid-row-start: 1;
   grid-column-start: 3;
   grid-row-end: 2;
   grid-column-end: 5;
  height: 120px;
  width: 275px;
   
   
}
#item-1 {
  display: grid;
   align-items: center;
   justify-items: center;
   background-color: lightgray; 
   grid-row-start: 2;
   grid-column-start: 3;
   grid-row-end: 3;
   grid-column-end: 5;
   height: 120px;
  width: 275px;
}
#item-2 {
   display: grid;
   align-items: center;
   justify-items: center;
   background-color: #F5F5F5; 
   grid-row-start: 3;
   grid-column-start: 3;
   grid-row-end: 4;
   grid-column-end: 5;
   height: 120px;
  width: 275px;
}
#item-3 {
    display: grid;
   align-items: center;
   justify-items: center;
   background-color: limegreen; 
   grid-row-start: 4;
   grid-column-start: 3;
   grid-row-end: 5;
   grid-column-end: 4;
  height: 55px;
   
}
#item-4 {
  display: grid;
   align-items: center;
   justify-items: center;
   background-color: green; 
   grid-row-start: 4;
   grid-column-start: 4;
   grid-row-end: 5;
   grid-column-end: 5;
   height: 55px;
   
}
}